.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #151950;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.item {
  color: green;
}
li[data-item="Value 1"] {
  color: red;
}

.k-dropdown.k-list-container
  .k-list.k-state-selected
  .k-item
  .k-state-default
  .k-widget
  .k-state-focused {
  color: green !important;
}
.k-picker-solid:focus-within {
  color: green;
}
.k-picker-solid:focus {
  color: green;
}

.k-picker-solid {
  color: green;
}
.pp {
  color: red;
}
